<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="no-project-mess.ZPM">
    <Module>
      <Name>no-project-mess</Name>
      <Version>0.1.0</Version>
      <Description>Project & Task Management using InterSystems IRIS and Bootstrap 4</Description>
      <Keywords>zpm,task,gantt,kanban,todo</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="diashenrique.npm.PKG"/>
      <SourcesRoot>src</SourcesRoot>
      <CSPApplication
        Url="/npm"
        Path="/src/csp"
        Directory="{$cspdir}/npm"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/npm"
        UseCookies="2"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="32"
        UnauthenticatedEnabled="0"
       />
    </Module>
  </Document>
</Export>
