#kanban {
    white-space: nowrap;
}

.list {
    border-radius: 8px;
    margin: 5px;
    background-color: rgba(192, 192, 192, 0.4);
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.list-title {
    font-size: 16px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: -10px;
    font-weight: bold;
}

.scrollable-list {
    height: 600px;
    width: 260px;
}

.sortable-cards {
    min-height: 380px
}

.card {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    width: 230px;
    padding: 10px 20px;
    margin: 10px;
}

.card-subject {
    padding-bottom: 10px;
}

.card-assignee {
    opacity: 0.6;
}

.card-priority {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 5px;
    width: 5px;
    border-radius: 2px;
    background: #86C285;
}

.Low {
    background: #ADADAD;
}

.Normal {
    background: #86C285;
}

.Medium {
    background: #EDC578;
}

.High {
    background: #EF7D59;
}

.widget-container {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
}

#form {
    margin-top: 20px;
}